.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.form {
  width: 60%;
}

.listContainer {
  align-items: center;
  justify-content: center;
}

span {
  display: flex;
}

.list-group-item {
  font-size: 20px;
  display: flex;
  align-items: center;
}

#deleteButton {
  margin-left: 20rem;
}

#date {
  margin-left: 5rem;
}

#alert {
  display: none;
}
